
[Unit]
Description=Conciliaciones API Proceso Service
After=network.target

[Service]
User=administrador
WorkingDirectory=/home/administrador/conciliaciones/concilia-procesa
ExecStart=/home/administrador/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:6009 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
